.lilita-one-regular {
	font-family: "Lilita One", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 60px;
}

.lilita-one-small {
	font-family: "Lilita One", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 48px;
}